FRONTEND_HOST=seu-dominio.com.br
EMAIL_ADDRESS=admin@seu-dominio.com.br

BACKEND_HOST=${FRONTEND_HOST}
BACKEND_PATH=/backend

VIRTUAL_HOST=${FRONTEND_HOST}
VIRTUAL_PORT=80
LETSENCRYPT_HOST=${FRONTEND_HOST}
LETSENCRYPT_EMAIL=${EMAIL_ADDRESS}
